.caret,
.bootstrap-tagsinput .tag,
.bootstrap-tagsinput [data-role="remove"] {
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

/*
 * bootstrap-tagsinput v0.8.0
 *
 */

.bootstrap-tagsinput {
    display: inline-block;
    padding: 4px 6px;
    max-width: 100%;
    line-height: 22px;
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 74px;
    max-width: inherit;
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder,
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput .tag {
    cursor: pointer;
    margin: 5px 3px 5px 0;
    position: relative;
    padding: 3px 8px;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1.5em;
    padding-left: 0.8em;
}

.bootstrap-tagsinput .tag.tag-primary {
    background-color: #9c27b0;
    color: #FFFFFF;
}

.bootstrap-tagsinput .tag.tag-info {
    background-color: #00bcd4;
    color: #FFFFFF;
}

.bootstrap-tagsinput .tag.tag-success {
    background-color: #4caf50;
    color: #FFFFFF;
}

.bootstrap-tagsinput .tag.tag-warning {
    background-color: #ff9800;
    color: #FFFFFF;
}

.bootstrap-tagsinput .tag.tag-danger {
    background-color: #f44336;
    color: #FFFFFF;
}

.bootstrap-tagsinput .tag.tag-rose {
    background-color: #e91e63;
    color: #FFFFFF;
}

.bootstrap-tagsinput .tag:hover {
    padding-right: 18px;
}

.bootstrap-tagsinput .tag:hover [data-role="remove"] {
    opacity: 1;
    padding-right: 6px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 0;
    opacity: 0;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.user-image-side {
  float: left;
  width: 25px;
  height: 40px !important;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

.gallery{
    background-color: white;
    display: block;
    margin: 10px;
}

.gallery .gallery-item{
    text-align: center;
    background-color: white;
    display: inline-block;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.gallery .gallery-item img{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 256px;
    height: 256px;
    border: 1px solid gray;
    border-radius: 5px;
}

.image-edit{
    width: 512px;
    height: 512px;
}

.thumbnail a.btn{
    visibility: hidden;
}

.thumbnail:hover a.btn {
    visibility:visible;
}

.thumbnail img{
    height: 256px !important;
}
